/*FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
/*COLORS*/
$color-principal: #4E7B6A;
$color-secondary: #7F534B;
$color-accent: #F786AA;
$color-grey: #F2F2F2;
$color-light-grey: #FDFDFD;
$color-black: #080F0F;


/*NORMALIZE*/
html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Prompt', sans-serif;
    font-weight: 300;
    background-color: white;
}
a,a:visited{
    background-color: transparent;
    text-decoration: none;
    color: inherit;
}
button{
    background: transparent;
    border: none;
    cursor: pointer;
    font-family: inherit;
}

h1{
    color: $color-principal;
    font-weight: 300;
    font-size: 2.4rem;
    text-transform: capitalize;
}
h2{
    color: $color-secondary;
    font-weight: 300;
    font-size: 1.4rem;
}
p{
    color: $color-black;
    font-size: 0.9rem;
}

.App {
    text-align: center;
}

.loading{

    color: $color-secondary;
    opacity: 0.8;
    font-size: 1rem;
    svg{
        padding: 0 10px;
        animation: fa-spin 2s linear infinite;
    }
}
/*HEADER*/
header{
    display: flex;
    justify-content: space-around;

    .brand{
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-weight: 700;
        color: $color-secondary;
        small{
            font-size: 0.625rem;
            font-weight: 300;
            margin-top: -7px;
        }
    }
    nav{
        display: flex;
        justify-content: center;
        button{
            padding: 15px 24px;
            color: $color-secondary;
            text-transform: uppercase;
        }
        .active{
            background-color: $color-grey;
            button{
                font-weight: 700;
            }
        }
        .default{
            &:hover{
                background-color: $color-grey;
                
            }
        }
    }
    .cartWidget{
        display: flex;
        align-items: center;
        color: $color-principal;
    }

}
.card-price{
    color: $color-principal;
}

/*ITEM LIST*/
.card-list{
    display: flex;
    list-style: none;
}

/*ITEM*/
.card-item{
    display: flex;
    flex-direction: column;
    width: 40%;
    max-width: 480px;
    margin: 40px;
    border: 3px transparent solid;
    &:hover{
        border-color: $color-grey;
        .card-footer{
            .view-detail{
                opacity: 1;
            }
        }
    }

    .card-img{
        width: 100%;
        max-width: 480px;
    }
    

    .card-footer{
        display: flex;
        flex-direction: column;
        h2{
            margin: 0;
            text-transform: capitalize;
            font-weight: 500;
        }
        
        .view-detail{
            font-size: 0.8rem;
            padding: 10px;
            background: $color-grey;
            margin-top: 10px;
            opacity: 0;
            animation: all 1s;
        }
        
    }
}
/*ITEM DETAIL*/
.item-detail{
    display: flex;
    justify-content: center;
    padding: 50px 0;
    .card-detail{
        display: flex;
        flex-direction: column;
        width: 40%;
        padding: 0 40px;
        text-align: left;

        h1{
            margin: 0;
            text-transform: capitalize;
        }
        .card-price{
            font-weight: 400;
            color: $color-secondary;
        }
        .card-description{
            font-size: 0.9rem;
        }
        .card-quantity{
            display: flex;
            flex-direction: column;

            label{
                font-size: 0.7rem;
                color: $color-secondary;
            }
            .product-quantity{
                width: 100px;
                height: 50px;
                border: 1px solid $color-grey;
                color: $color-secondary;
                margin-bottom: 12px;
                text-align: center;
                font-size: 1rem;
            }
            
        }
        .add-to-cart{
            width: 100%;
            height: 50px;
            color: white;
            background-color: $color-accent;
            text-transform: uppercase;
            margin-top: 30px;
        }
       

    }
    .card-img{
        width: 40%;
    }

}

.cart-list{
    display: flex;
}


@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
